---
import CardStudies from '@components/credentials/CardStudies.astro';
import CardCredentials from './CardCredentials.astro';
---

<section id="credentials" class="mt-16 grid lg:mt-0 lg:h-[50vh] lg:grid-cols-2">
	<div class="grid place-content-center">
		<header class="grid max-h-20 w-full place-content-center place-items-center lg:mb-10">
			<h1 class="font-Code uppercase text-2xl font-bold text-shadow dark:text-faint lg:text-4xl">
				Credentials
			</h1>
			<span class="mb-2 h-1 w-10 bg-shadow dark:bg-faint lg:mb-0"></span>
		</header>
		<section class="grid h-full w-full grid-flow-col gap-4 overflow-x-auto p-4 lg:grid-cols-2 lg:p-0">
			<CardCredentials />
		</section>
	</div>

	<div class="mt-10 grid place-content-center lg:mt-0">
		<header class="grid max-h-20 w-full place-content-center place-items-center lg:mb-10">
			<h1 class="font-Code uppercase text-2xl font-bold text-shadow dark:text-faint lg:text-4xl">Studies</h1>
			<span class="mb-2 h-1 w-10 bg-shadow dark:bg-faint lg:mb-0"></span>
		</header>
		<section class="grid h-full w-full grid-flow-col gap-4 overflow-x-auto p-4 lg:grid-cols-2 lg:p-0">
			<CardStudies />
		</section>
	</div>
</section>
