---
import CardStudies from '@components/credentials/CardStudies.astro';
import CardCredentials from './CardCredentials.astro';
---
<main class="grid lg:grid-cols-2 h-screen lg:h-[50vh]">

<section id="credentials" class="grid h-[50vh] place-items-center">
	<header class="flex max-h-20 w-full flex-col items-center justify-center">
		<h1 class="font-monospace font-bold text-2xl text-shadow dark:text-faint lg:text-4xl">
			Credentials
		</h1>
		<span class="ml-2 h-1 w-10 bg-shadow dark:bg-faint"></span>
	</header>
	<section class="mb-auto grid">
		<div class="h-full w-full grid grid-flow-col gap-6 lg:grid-cols-2 lg:gap-4 overflow-x-auto">
			<CardCredentials />
		</div>
	</section>
</section>

<section id="credentials" class="grid h-[50vh] place-items-center">
	<header class="flex max-h-20 w-full flex-col items-center justify-center">
		<h1 class="font-monospace font-bold text-2xl text-shadow dark:text-faint lg:text-4xl">
			Studies
		</h1>
		<span class="ml-2 h-1 w-10 bg-shadow dark:bg-faint"></span>
	</header>
	<section class="mb-auto grid">
		<div class="h-full w-full grid grid-flow-col gap-6 lg:grid-cols-2 lg:gap-4 overflow-x-auto">
			<CardStudies />
		</div>
	</section>
</section>
</main>

