---
import CardStudies from '@components/credentials/CardStudies.astro';
import CardCredentials from './CardCredentials.astro';
---
<main class="px-6 grid place-content-center place-items-center lg:grid-cols-2 lg:h-[50vh] mt-16 lg:mt-0">

<section id="credentials" class="grid place-content-center place-items-center">
	<header class="flex max-h-20 w-full flex-col items-center justify-center lg:mb-10">
		<h1 class="font-CODE font-bold text-2xl text-shadow dark:text-faint lg:text-4xl">
			Credentials
		</h1>
		<span class="mb-2 lg:mb-0 h-1 w-10 bg-shadow dark:bg-faint"></span>
	</header>
	<section class="mb-auto grid">
		<div class="h-full w-full grid grid-flow-col gap-6 lg:grid-cols-2 lg:gap-4 overflow-x-auto">
			<CardCredentials />
		</div>
	</section>
</section>

<section class="grid place-content-center place-items-center mt-10 lg:mt-0">
	<header class="flex max-h-20 w-full flex-col items-center justify-center lg:mb-10">
		<h1 class="font-CODE font-bold text-2xl text-shadow dark:text-faint lg:text-4xl">
			Studies
		</h1>
		<span class="mb-2 lg:mb-0 h-1 w-10 bg-shadow dark:bg-faint"></span>
	</header>
	<section class="mb-auto grid">
		<div class="h-full w-full grid grid-flow-col gap-6 lg:grid-cols-2 lg:gap-4 overflow-x-auto">
			<CardStudies />
		</div>
	</section>
</section>
</main>

