---
import { Image } from "@astrojs/image/components";
import aboutMeCover from "@assets/images/aboutMeCover.webp";
---

<section data-testid="about" id="about" class="lg:h-screen grid place-content-center mt-10 lg:mt-0">
	<header class="grid place-content-center place-items-center lg:mb-10">
		<h2 class="font-Code uppercase text-2xl dark:text-faint text-shadow lg:text-4xl">About me</h2>
		<span class="h-1 w-10 dark:bg-faint bg-shadow"></span>
	</header>
	
	<div class="grid lg:grid-cols-2 place-content-center">
		
		<figure class="hidden lg:block h-full w-full p-8">
			<Image class:list={`rounded-3xl shadow-lg h-full w-full xl:h-[29rem] `} src={aboutMeCover} alt="SetUp" format="webp" width={600} height={400} aspectRatio="4:4" />
		</figure>
		
		<section class="grid place-content-center h-full w-full p-8 text-darkness dark:text-bond text-sm md:text-lg xl:text-[1.4rem] font-Raleway">
			<p class="mb-6">
				As a <span class="font-bold font-Raleway">Frontend Web Developer</span>, my passion lies in crafting captivating digital experiences that captivate users. My skill set revolves around essential language like <span class="font-bold font-Raleway">JavaScript</span> and <span class="font-bold font-Raleway">TypeScript</span>, and my experience encompasses a variety of cutting-edge technologies, including <span class="font-extrabold">Next.js, React, Astro</span>,
				and <span class="font-extrabold">Svelte</span>. These tools empower me to create visually appealing and highly functional interfaces.
			</p>
			<p class="mb-6">
				My collaborative approach is evident in my ability to seamlessly integrate into multidisciplinary teams, where I contribute creative solutions that merge designs and functionality seamlessly.
			</p>
			<p>
				I am thrilled about the boundless possibilities that the world of web development has to offer, and I eagerly anticipate being a part of projects that make a meaningful impact in digital experiences.
			</p>
		</section>
	</div>
</section>
