---
import { Image } from "@astrojs/image/components";
import aboutMeCover from "@assets/images/aboutMeCover.webp";
---

<section data-testid="about" id="about" class="lg:h-screen grid place-content-center mt-10 lg:mt-0">
	<header class="grid place-content-center place-items-center lg:mb-10">
		<h2 class="font-Code uppercase text-2xl dark:text-faint text-shadow lg:text-4xl">About me</h2>
		<span class="h-1 w-10 dark:bg-faint bg-shadow"></span>
	</header>
	
	<div class="grid lg:grid-cols-2 place-content-center">
		
		<figure class="hidden lg:block h-full w-full p-8">
			<Image class:list={`rounded-3xl shadow-lg h-full w-full xl:h-[29rem] `} src={aboutMeCover} alt="SetUp" format="png" width={600} height={400} aspectRatio="4:4" />
		</figure>
		
		<section class="grid place-content-center h-full w-full p-8 text-darkness dark:text-bond text-sm md:text-lg xl:text-[1.4rem] font-Raleway">
			<p class="mb-6">
				As a <span class="font-bold font-Raleway">Frontend Web Developer</span>, my passion lies in creating
				exceptional digital experiences that captivate users. My skills are centered around
				essential languages like <span class="font-bold font-Raleway">JavaScript</span> and <span class="font-bold font-Raleway">TypeScript</span>, and my experience spans a variety of
				cutting-edge technologies such as <span class="font-extrabold">Next.js, React, Astro</span>,
				and <span class="font-extrabold">Svelte</span>. These tools enable me to develop attractive
				and highly functional interfaces.
			</p>
			<p class="mb-6">
				My collaborative approach is evidenced by my ability to seamlessly integrate into
				multidisciplinary teams, where I contribute creative solutions that merge design and
				functionality.
			</p>
			<p>
				I am excited about the infinite possibilities that the world of web development has to
				offer, and I eagerly look forward to being part of projects that make a difference in the
				digital experience.
			</p>
		</section>
	</div>
</section>
