---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl dark:text-faint text-shadow lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 dark:bg-faint bg-shadow"></span>
	</div>

	<div class="w-full text-justify text-darkness dark:text-light lg:w-1/2">
		<p class="mb-6">
			As a Frontend Web Developer, my passion lies in creating exceptional digital experiences that captivate users. My skills are centered around essential languages like JavaScript and TypeScript, and my experience spans a variety of cutting-edge technologies such as Next.js, React, Astro, and Svelte. These tools enable me to develop attractive and highly functional interfaces.
		</p>
		<p class="mb-6">
			My collaborative approach is evidenced by my ability to seamlessly integrate into multidisciplinary teams, where I contribute creative solutions that merge design and functionality. My perspective is that of a perpetual learner, always ready to take on new challenges and add value to high-quality projects.
		</p>
		<p class="mb-6">
			I am excited about the infinite possibilities that the world of web development has to offer, and I eagerly look forward to being part of projects that make a difference in the digital experience.
		</p>
	</div>
</section>
