---
import { Image } from "@astrojs/image/components";
import reactCredential from "../assets/images/react-credential.png";

const picture =
  "absolute inset-0 translate-y-0 group-hover:opacity-100 group-hover:translate-y-full transition-all duration-500";
const description =
  "w-full h-full group-hover:opacity-80 p-4 text-center grid place-content-center bg-white text-black shadow-lg";
---

<section id="credentials" class="h-1/2">
  <section class="grid place-content-center place-items-center">
    <h2 class="font-monospace text-2xl text-orange lg:text-4xl">Credentials</h2>
    <span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
  </section>
  <section class="p-10 flex justify-center">
    <div
      class="relative w-[300px] h-[229px] rounded-lg overflow-hidden shadow-lg group transition-all duration-700"
    >
      <div class={picture}>
        <Image
          src={reactCredential}
          alt="Brayan Mercado"
          format="png"
          width={300}
          height={229}
          loading="eager"
        />
      </div>
      <a
        href="https://platzi.com/p/Breim/learning-path/7043-web-react/diploma/detalle/"
        target="_blank"
        class={description}
      >
        <h2 class="font-monospace font-semibold text-2xl mb-2">
          Frontend whith React
        </h2>
        <p class="text-lg">
          Specialize in React.js, the most demanded and fastest growing
          JavaScript tool for frontend development.
        </p>
      </a>
    </div>
  </section>
</section>