<footer data-testid="footer" class="p-6 text-center text-sm text-darkness dark:text-light">
	<p>
		Powered by<a
			href="https://github.com/Breims"
			target="_blank"
			rel="noopener"
		>
			<span class="text-faint"> Breim.</span>
		</a> {new Date().getFullYear()}
	</p>
</footer>
