---
import { Image } from "@astrojs/image/components";
import SocialHero from "./ui/SocialHero.astro";
import breimsCover from "@assets/images/breimsCover.webp";
---

<section
id="home"
	data-testid="hero"
	class="flex h-[95vh] lg:h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
>
	<div class="grid place-content-between lg:mb-0">
		<div class="grid place-items-center mb-10 px-2">
			<h1 class="font-Code font-bold uppercase dark:text-light text-darkness text-4xl md:text-5xl lg:text-[5.5rem] lg:mb-8">
			Brayan Mercado</h1>
			<span class="dark:text-faint text-shadow text-2xl lg:text-5xl md:text-3xl mb-5 font-Raleway">Web Developer</span>
			<span class="mb-6 ml-2 h-1 w-10 bg-shadow dark:bg-faint"></span>
		</div>
		<div class="mb-10 flex gap-10 justify-center">
			<SocialHero />
		</div>
	</div>
	<div data-testid="hero-img" class="mb-10 flex w-1/2 lg:w-2/5 items-center justify-center">
		<Image
			class:list={`rounded-full m-auto bg-darkness dark:bg-light`}
			src={breimsCover}
			alt="Coding girl"
			aspectRatio="4:4"
			format="png"
			width={600}
			height={600}
			loading="eager"
		/>
	</div>
</section>
