---
import { Image } from "@astrojs/image/components";
import SocialHero from "./ui/SocialHero.astro";
import breimsCover from "@assets/images/breimsCover.webp";
---

<section
id="home"
	data-testid="hero"
	class="grid lg:grid-flow-col place-content-center place-items-center h-screen text-center"
>
	<div class="grid place-content-center p-8 order-2">
		<div class="grid place-items-center mb-10 px-2">
			<h1 class="font-Code font-bold uppercase dark:text-light text-darkness text-4xl md:text-5xl lg:text-[4.5rem] xl:text-[5.5rem] lg:mb-8">
			Brayan Mercado</h1>
			<span class="dark:text-faint text-shadow text-2xl lg:text-5xl md:text-3xl mb-5 font-Raleway">Web Developer</span>
			<span class="mb-6 ml-2 h-1 w-10 dark:bg-faint bg-shadow"></span>
		</div>
		<div class="flex gap-10 justify-center">
			<SocialHero />
		</div>
	</div>
	<div data-testid="hero-img" class="flex w-1/2 lg:w-full items-center justify-center lg:p-8 lg:order-2">
		<Image
			class:list={`rounded-full m-auto bg-darkness dark:bg-light`}
			src={breimsCover}
			alt="Breim"
			aspectRatio="4:4"
			format="png"
			width={600}
			height={600}
			loading="eager"
		/>
	</div>
</section>
