---
import { Icon } from 'astro-icon';
---

<a href="https://github.com/Breims" target="_blank" rel="noopener" aria-label="github"
	><Icon
		class="h-8 hover:text-faint dark:hover:text-faint md:h-8 mx-2"
		name="simple-icons:github"
	/></a
>

<a href="https://www.linkedin.com/in/brayan-mercado-sanmartin/" target="_blank" rel="noopener" aria-label="linkedin"
	><Icon
		class="h-8 hover:text-faint dark:hover:text-faint md:h-8 mx-2"
		name="simple-icons:linkedin"
	/></a
>

<a href="https://twitter.com/BreimDev" target="_blank" rel="noopener" aria-label="twitter">
	<Icon
		class="h-8 hover:text-faint dark:hover:text-faint md:h-8 mx-2"
		name="simple-icons:twitter"
	/>
</a>
